html, body, .App {
  width: 100vw;
  height: 100vh;
}

.App {
  display: flex;
}

.Column {
  display: flex;
  flex-direction: column;
}

.Column-Left {
  padding: 16px;
  width: 25%;
}

.Column-Map {
  flex: 1;
}

.Column-Right {
  padding: 16px;
  width: 25%;
}

.Panel.Panel-TotalConfirmed {
  flex: 0;
}